body {
  margin: 0;
  font-family: "Teko";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Zing";
  src: url(../fonts/zing.rust-demo-base.otf)
}

@font-face {
  font-family: "Teko";
  src: url(../fonts/Teko-VariableFont_wght.ttf)
}

.row {
  padding-right: 0.1em;
  padding-left: 0.1em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  height: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1px;
  margin-right: 1px;
}

.logo {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5em;
  margin-bottom: 1.5em;
}

.diff-font {
  color: #911417;
  font-style: italic;
  font-size: 1.3rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.count-button {
  background-color: #dc1b21;
  text-align: center;
  width: 1.7em;
  color: white;
  border-radius: 50%;
  font-family: "Teko";
  margin: 0.3em;
  border: none;
}

.count-button:hover {
  background-color: rgb(155, 0, 0);
  color: white;

}

.menu-item-title {
  font-weight: bold;
  font-family: "Teko";
  font-size: 1.25rem;
}

.menu-item-img {
  width: 100%;
  border-radius: 10px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.menu-item-desc {
  font-size: 1rem;
}



.container-fluid {
  width: 100%
}

.order-button {
  font-weight: bold;
  background-color: #dc1b21;
  text-align: center;
  font-size: 1.25rem;
  color: white;
  border-radius: 0.5rem;
  border: none;
  font-family: "Teko";
  padding-left: 1em;
  padding-right: 1em;
}

.clear-button {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
  background-color: rgb(234, 234, 234);
  border-radius: 0.5rem;
  font-family: "Teko";
  border: none;
  padding-left: 0.7em;
  padding-right: 0.7em;
}
.alert-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%;
}
.order-alert {
  padding-top: 10px;
  text-align: center;
}
